/* style.css
 *
 * styling for www.theLisSilent.com
 * August 8, 2013
 *
 */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* end CSS reset */
	
body {
	font-family:'Cormorant Garamond', 'Garamond', 'Caslon', 'Adobe Caslon Pro', 'Times New Roman', serif;
	margin:0 5%;
}

a {
	color:#3388CC;
	text-decoration:none;
}

a:hover {
	color:#335599;
}
	
.hidden {
	display:none;
}
	
header {
	position: relative;
}
	
header #logo {
	background:transparent url("../images/logo_hulme_dark.png") no-repeat;
    background-size: contain;
	display:block;
	height:60px;
	position:fixed;
	width:168px;
}

header #logo a {
	display:block;
	height:54px;
	width:150px;
}

h1 {
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  font-size:3.5em;
  padding:0 10%;
}
		
section h2 {
	color:rgb(51,51,51);
	font-size:1.4em;
	font-weight:300;
	line-height:1.6em;
}



/* media
 * max-width: 1100px
 * no min
 */
	
@media screen and (max-width:1100px) {
	header {
		background-color:rgb(255,255,255);
		display:block;
		height:120px;
		margin:0 auto;
		max-width:1100px;
	}
	
	header #logo {
      left:5%;
      height:60px;
      top: 28px;
      width:170px;
	}
  
    header #logo a {
      display:block;
      height:85px;
      width:220px;
    }
    section h1 {
      font-size:3.2em;
      padding:30px 10% 0px 10%;
    }
  
	section h2 {
		font-size:1.4em;
		padding:20px 10% 40px 10%;
	}

	section#content {
		background-color:rgb(255,255,255);
		max-width:1100px;
		margin:0 auto;
	}

	#content .post {
		margin:0 4.545454%;
		margin-bottom:1.272727%;
	}	
	
	#content .post img {
		max-width:100%;
	}
} /* End media screen and (max-width:1100px) */


@media screen and (max-width:700px) {
  section h1 {
    font-size:3em;
    padding-left:0;
  }
  section h2 {
		font-size:1.2em;
		padding-left:0;
	}
	
	#content .post {
		margin-bottom:0.8%;
	}	
} /* End media screen and (min-width:1101px) */


@media screen and (min-width:1101px) {

	header {
		background-color:rgb(255,255,255);
		display:block;
		height:115px;
		margin:0 auto;
	}
	
	header #logo {
		left:3.5%;
        top:25px;
	}
  
    section h1 {
        font-size:3.5em;
        padding:40px 7% 20px 7%;
    }

	section h2 {
		font-size:1.4em;
        padding:0px 7% 80px 7%;
	}
	
	section#content {
		background-color:rgb(255,255,255);
      background-position: center;
      background-size: cover;
		clear:both;
		display:block;
		max-width:1810px;
		margin:0 auto;
	}
	
  #content #left {
		display:inline;
		float:left;
		margin-right:0.552486187%;
		max-width:633px;
		width:32.96%;
	}
	
	#content #middle {
		display:inline;
		float:left;
		margin-right:0.552486187%;
		max-width:633px;
		width:32.96%;
	}
	
	#content #right {
		display:inline;
		float:right;
		max-width:633px;
		margin-right:0;
		width:32.96%;
	}
  
    #content #two-col-left {
      display:inline;
      float:left;
      margin-right:0.4%;
      max-width:948px;
      width:49.6%;
    }
  
    #content #two-col-right {
      display:inline;
      float:right;
      margin-right:0%;
      max-width:948px;
      width:49.6%;
    }
	
	#content .post {
		margin-bottom:0.7%;
	}
	#content .post img {
		max-width:100%;
	}
	
} /* End media screen and (min-width:1401px) */