/* style.css
 *
 * styling for www.theLisSilent.com
 * August 8, 2013
 *
 */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* end CSS reset */


/* media
 * max-width: 1100px
 * no min
 */
	
	
	body {
		font-family:'Lato', 'Myriad Pro', Myriad, Arial, sans-serif;
		-webkit-font-smoothing:antialiased;
	}
		
	section h2 {
		color:rgb(51,51,51);
		font-size:1.4em;
		font-weight:300;
		line-height:1.6em;
	}


@media screen and (max-width:1100px) {
	body {
/*
		background-color:rgb(245,245,245);
*/
		font-family:'Lato', 'Myriad Pro', Myriad, Arial, sans-serif;
		margin: 0 5%;
	}

	header {
		background-color:rgb(255,255,255);
		display:block;
		height:120px;
		margin:0 auto;
		max-width:1100px;
	}
	
	section h2 {
		font-size:1.4em;
		padding:10%;
	}

	section#content {
		background-color:rgb(255,255,255);
		max-width:1100px;
		margin:0 auto;
	}

	#content .post {
		margin:0 4.545454%;
		margin-bottom:1.272727%;
	}	
	
	#content .post img {
		max-width:100%;
	}
} /* End media screen and (max-width:1400px) */



@media screen and (min-width:1101px) {
	body {
		margin: 0 5%;
	}

	header {
		background-color:rgb(255,255,255);
		display:block;
		height:120px;
		margin:0 auto;

	}

	section h2 {
		font-size:1.4em;
		padding-bottom:14%;
		padding-left:7%;
		padding-right:7%;
		padding-top:14%;
	}
	
	section#content {
		background-color:rgb(255,255,255);
		clear:both;
		display:block;
		max-width:1810px;
		margin:0 auto;
	}

	#content #left {
		display:inline;
		float:left;
		margin-right:0.552486187%;
		max-width:633px;
		width:32.96%;
	}
	
	#content #middle {
		display:inline;
		float:left;
		margin-right:0.552486187%;
		max-width:633px;
		width:32.96%;
	}
	
	#content #right {
		display:inline;
		float:right;
		max-width:633px;
		margin-right:0;
		width:32.96%;
	}
	
	#content .post img {
		max-width:100%;
		margin-bottom:1.5%;
	}
	
} /* End media screen and (min-width:1401px) */


@media screen and (max-width:700px) {
	section h2 {
		font-size:1.2em;
		padding-left:0;
	}
	
	#content .post {
		margin-bottom:0.8%;
	}	
	
} /* End media screen and (min-width:1401px) */