/* style.css
 * by brian hulme
 * nov 2014
 */

@import url("../fonts/fonts.css");

body {
  background:rgba(247,250,242,1);
  color:rgba(50,50,50,1);
  font-family:'League Spartan', sans-serif;
  margin:60px 0;
}

a {
  color:rgba(255,255,255,1);
  text-decoration: none;
}

a:hover {
  color:rgba(255,255,255,0.8);
  text-decoration: none;
}


h1 {
  font-family:'League Spartan', sans-serif;
  font-size: 42px;
  line-height: 35px;
}

p {
  -webkit-font-smoothing: antialiased;
  font-family: 'Sorts Mill Goudy', serif; 
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 50px;
}

p .leading {
  
}

/* header */
header h1 {
  margin-bottom: 30px;
  text-align: center;
  vertical-align:middle;
}


/* images */
.images {
  background-position: center;
  margin:0;
  overflow: hidden;
  padding:0;
}

#brecken_01 {
  background-image: url(../images/bandc.jpg);
  background-position: center;
  background-size: cover;
  height:400px;
}

#brecken_02 {
  background-image: url(../images/family_2014.jpg);
  background-size: cover;
  height:400px;
}

#brecken_03 {
  background-image: url(../images/banda.jpg);
  background-size: cover;
  height:520px;
}

/* #welcome */
#welcome h1 {
  color:rgba(255,255,255,1);
  margin-bottom: 0px;
  text-align: center;
  vertical-align:middle;
}

#welcome h2 {
  color:rgba(255,255,255,1);
}

.gold {
  color:rgba(255,238,186,1);
}

.light {
  color:rgba(247,250,242,1);
}

/* #home */
#home {
  background-color:rgba(247,250,242,1);
  margin:0;
}

/* #home_01 */
#home_01 {
  background-image: url(../images/main_1_family.jpg);
  background-position: center;
  background-size: cover;
  color:white;
  padding:40px 6%;
}

#home_01 h1 {
  font-size:30px;
  text-align: left;
}

#home_01 h2 {
  font-size:23px;
  text-align: left;
}

#home_01 #icons {
  background: transparent url(../images/main_icons.png) no-repeat;
  height:68px;
  width:213px;
}

/* home_02 */
#home_02 {
  padding:40px 6%;
}

#home_02 h1, #home_04 h1 {
  font-size:30px;
  margin-bottom:20px;
  text-align:center;
}


/* home_03 */
#home_03 {
  background:transparent url("../images/main_2_family.jpg") no-repeat;
  background-position:center;
  background-size:cover;
  height:60%;
}


/* home_04 */
#home_04 {
  background-color:rgba(50,50,50,1);
  padding:40px 6%;
}