@import url("sorts_mill_goudy.css");
@import url("league_spartan.css");

body {
  background-color:rgb(240, 240, 240);
  font-family: 'League Spartan', sans-serif;
  position: relative;
}

h1 {
  color:rgba(255,255,255,1);
  text-shadow: 0px 2px 8px rgba(0,0,0,0.15);
  font-family: 'League Spartan', sans-serif;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  margin-top: -0.25em;
  -moz-osx-font-smoothing: grayscale;
  position:absolute;
  text-align: center;
  text-transform: uppercase;
  top:50%;
  width: 100%;
}

main {
  width: 100%;
}

.client:hover {
  filter:hue-rotate(20deg);
  -webkit-filter:hue-rotate(20deg);
}

/** Header **/
header {
  padding:20px;
  position:fixed;
  z-index:200;
}

header a {
  background:transparent url(../images/ic_stan_logo.png) no-repeat;
  cursor: pointer;
  display:block;
  height:62px;
  width:62px;  
}

header a.black {
  background:transparent url(../images/ic_stan_logo_black.png) no-repeat;
}


/** Nav **/
nav {
  background-color: rgba(0,0,0,0.4);
  font-family: 'Sorts Mill Goudy Italic', serif;
  font-size: 3.5em;
  height: 100%;
  padding:125px 20px;
  position: fixed;  
  text-transform: uppercase;
  top:0;
  width: 100%;
  z-index: 90;
}

nav a {
  color:rgba(255,255,255,1);
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav a:hover {
  color:rgba(255,255,255,0.6);
  text-decoration: none;
}


/** DIVS **/
#about {
  padding:2% 4%;
  padding-bottom: 40px;
}

#about h2 {
  font-family: 'Sorts Mill Goudy Italic', serif;
  font-size: 2em;
  text-transform: uppercase;
}

#brian {
  background: rgba(245, 245, 245, 1) url("../images/img_brian.jpg") right no-repeat;
  background-size: cover;
  height: 60%;
}

#not_by_chance {
  background: rgba(255, 255, 255, 1) url("../images/img_not_by_chance.jpg")  center no-repeat;
  background-size: cover;
  height: 60%;
}

#soto {
  background: rgba(255, 117, 56, 1) url("../images/img_soto.jpg") center no-repeat;
  height: 60%;
}

#stealth_gear {
  background: rgba(0, 0, 0, 1) url("../images/img_stealth_gear.png") center no-repeat;
  background-size: cover;
  height: 60%;
}

#steve {
  background: rgba(255, 255, 255, 1) url("../images/img_steve.jpg") left no-repeat;
  background-size: cover;
  height: 60%;
}

#thredup {
  background: rgba(60, 200, 142, 1) url("../images/img_thredup.png") center no-repeat;
  background-size: cover;
  height: 60%;
}


/** CLASSES **/
.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.client {
  position:relative;
}

.current {
  text-decoration: line-through;
}

.current:hover {
  text-decoration: line-through;
}

.hidden {
  display:none;
}